.navbar {
    width: 20vw;
    height: 100vh;
    border-right: 1px solid #123456;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
    scrollbar-width: none;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    text-align: center;
    padding: 20px 0;
    min-width: 50px;
    width: 5vw;
    border-radius: 50%;
}

.containLinks {
    display: grid;
}

.containLinks a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(245, 110, 110);
    padding: 7.5px 40px;
    margin: 5px 0;
    font-size: 20px;
    transition: 0.2s all;
}

.containLinks a:hover {
    padding: 7.5px 40px;
    border-radius: 5px;
    color: #123456;
}

.containLinks a:focus {
    background-color: #123456;
    color: white;
    border-radius: 5px;
}

.bottom {
    width: 100%;
    display: grid;
    place-items: center;
    border-top: 1px solid lightgray;
}

.bottom .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 5px;
}

.bottom .socials a {
    display: grid;
    place-items: center;
    text-decoration: none;
    margin: 0 7.5px;
    scale: 1.4;
}

.bottom .socials a:nth-child(1) .s-logo {
    color: #171515;
}

.bottom .socials a:nth-child(2) .s-logo {
    color: rgb(41, 116, 255);
}

.bottom .socials a:nth-child(3) .s-logo {
    color: #bc318f;
}

.bottom .socials a .s-logo {
    transition: 0.35s all;
}

.bottom .socials a:hover .s-logo {
    rotate: 360deg;
}